<html>
<head>
<title>CheckBox</title>
<style type="text/css">
#cat label{
float:left;
width: 10px;
height: 50px;
}
</style>
</head>
<body>
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div id="cat" align="left"><br>
<input type="checkbox" name="option1" value="Frutiila"> Frutiila<br>
<input type="checkbox" name="option2" value="Anana" checked> Anana<br>
<input type="checkbox" name="option3" value="Chocolate"> Chocolate<br>
<input type="checkbox" name="option3" value="Granizado"> Granizado<br>
<input type="checkbox" name="option3" value="Vainilla"> Vainilla<br>
<input type="checkbox" name="option3" value="Cereza"> Cereza<br>
<input type="checkbox" name="option3" value="Dulce de Leche"> Dulce de Leche<br>
<input type="checkbox" name="option3" value="Sambayon"> Sambayon<br>
<input type="checkbox" name="option3" value="Mascarpone"> Mascarpone<br>
<input type="checkbox" name="option3" value="Almendrado"> Almendrado<br>
<input type="checkbox" name="option3" value="Limon"> Limon<br>
<input type="checkbox" name="option3" value="Manzana"> Manzana<br>
<input type="checkbox" name="option3" value="Tiramizu"> Tiramizu<br>
<input type="checkbox" name="option3" value="Vainilla"> Vainilla<br>
<input type="checkbox" name="option3" value="Cereza"> Cereza<br>
<br>
</div>
</form>
</body>
</html>




