<html>
<head>
<title>CheckBox</title>
<style>
#container { width: 500px;}
.holder {float: left; width: 125px;}
</style>
</head>
<body>
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div id = "container" >
<div class = "holder"> <input type="checkbox" name="c1" value="Frutilla"/>Frutilla</div>
<div class = "holder"> <input type="checkbox" name="c2" value="Chocolate"/>Chocolate</div>
<div class = "holder"> <input type="checkbox" name="c3" value="Granizado"/>Granizado</div>
<div class = "holder"> <input type="checkbox" name="c4" value="Vainilla"/>Vainilla</div>
<div class = "holder"> <input type="checkbox" name="c5" value="Banana"/>Banana</div>
<div class = "holder"> <input type="checkbox" name="c6" value="Limon"/>Limon</div>
<div class = "holder"> <input type="checkbox" name="c7" value="Sambayon"/>Sambayon</div>
<div class = "holder"> <input type="checkbox" name="c8" value="Cereza"/>Cereza</div>
</div>

</form>
</body>
</html>
